@model ProjectBase.Web.Models.Company.CompanyListModel

@{
    ViewBag.Title = "Index";
}

<h2>Компании</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>

@if (Model.Companies != null)
{
    <table class="table">
        <tr>
            <th>Название</th>
        </tr>

        @foreach (var item in Model.Companies)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", new { Id = item.Id })
                </td>
            </tr>
        }
    </table>
}